.messenger{
    display: flex;
    height: 100%;
}

.conversations{
    flex: 2.5;
}

.chat{
    flex: 4.5;
   border-left: 1px solid lightgray;
   border-right: 1px solid lightgray;
   height: 93.5vh;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.onlineFriends{
    flex: 3.5;
}

.converstationsWrapper{
    display: flex;
    flex-direction: column;
}

.conversationImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.chatWrapper{
    padding: 20px;
}

.friendsWrapper{
    padding: 10px;
}

.conversation{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.searchFriend{
    margin-top: 30px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
    width: 70%;
    padding: 20px;
    font-size: 18px;
    border-radius: 12px;
    margin-left: 40px;
}

.searchFriend:focus{
    outline: none;
}

.conversationName{
    font-weight: 500;
}

.searchOptions{
    margin: 0;
    padding: 0;
    list-style: none;
}


.searchOptions{
    position: absolute;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
    width: 20.85%;
}


.searchOption{
    padding: 5px;
    padding-left: 15px;
    cursor: pointer;
}

.searchOption:hover{
  background-color: rgb(250, 250, 250);
}

.act{
    background-color: #fff;
}

.searchResults{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 17px;
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgb(218, 233, 252);
    border-radius: 4px;
}

.searchResult{
   display: flex;
   justify-content: flex-start;
   align-items: center;
  padding: 10px;
  cursor: pointer;
  color: rgb(53, 53, 53);
  width:200px;
  border-radius: 4px;
}

.searchResultImg{
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}