.leftMenu{
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
}

.leftMenuWrapper{
    margin-top: 40px;
    width: 400px;
    position: sticky;
    top: 50px;
    margin-left: 40px;
}


.leftMenuList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftMenuListItem{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 12px;
    width: 80%;
    margin-bottom: 10px;
}

.leftMenuListItemIconImg{
    width: 42px;
    height: 42px;
}

.leftMenuListItem:hover{
    background-color: rgb(250, 250, 250);
}

.leftMenuListItemText{
    margin-top: 2px;
    margin-left: 15px;
}

.leftMenuFriendLIstItemPic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.leftMenuButton{
    width: 100px;
    background-color: whitesmoke;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.leftMenuFriendListItem{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    width: 80%;
}

.leftMenuFriendListItem:hover{
    background-color: rgb(250, 250, 250);
}

.leftMenuHr{
    margin: 20px 0;
    width: 80%;
}

.leftMenuFriendList{
    list-style: none;
    padding: 0;
    margin: 0;
}

.leftMenuListItemProfileImg{
    border-radius: 50%;
    object-fit: cover;
    width: 42px;
    height: 42px;
}

.leftMenuFriendListItemName{
    margin-left: 10px;
}

.keyboardIcon{
    padding: 10px;
   border-radius: 50%;
   background-color: rgb(252, 249, 249);
}

.shortcutsHeader{
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

.leftMenuGroupsList{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.leftMenuGroupListItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 80%;
    border-radius: 12px;
}

.leftMenuGroupListItem:hover{
    background-color: rgb(250,250,250);
}

.leftMenuGroupListItemImg{
    margin-right: 10px;
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 8px;
}

.facebookRightsSpan{
    opacity: 0.9;
    font-size: 12px;
}