.leftMenu{
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

.leftMenuWrapper{
    margin-top: 10px;
    width: 400px;
    position: sticky;
    top: 50px;
    margin-left: 40px;
}

.leftMenuListItemIcon{
    transform: scale(1.5);
}


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
background-color: #f1f1f1;
}

::-webkit-slider-thumb{
    background-color: rgb(179, 179, 179);
}

.leftMenuList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftMenuListItem{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 12px;
    width: 80%;
    margin-bottom: 10px;
}

.leftMenuListItem:hover{
    background-color: rgb(250, 250, 250);
}

.leftMenuListItemText{
    margin-top: 2px;
    margin-left: 15px;
}

.leftMenuFriendLIstItemPic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.leftMenuButton{
    width: 100px;
    background-color: whitesmoke;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.leftMenuFriendListItem{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    width: 80%;
}

.leftMenuFriendListItem:hover{
    background-color: rgb(250, 250, 250);
}

.leftMenuHr{
    margin: 20px 0;
    width: 80%;
}

.leftMenuFriendList{
    list-style: none;
    padding: 0;
    margin: 0;
}

.leftMenuFriendListItemName{
    margin-left: 10px;
}