.onlineFriendList{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-items: center;
    align-items: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
    width: 60%;
    border-radius: 12px;
    margin-left: 20px;
    margin-top: 10px;
}

.onlineFriendsHeader{
    font-weight: 500;
    font-size: 20px;

}

.friend{
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
}

.friendImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.activeDot{
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: limegreen;
    border-radius: 50%;
    border: 2px solid white;
    top: 32px;
    right: 67px;
}

.noOnline{
    margin-top: 10px;
}