.rightMenu{
    margin-top: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 919px;
    position: sticky;
    top: 50px;
}

.presentImg{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.birthdayText{
    font-size: 18px;
}

.rightBarBirthdayWrapper{
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
    flex-direction: column;
    border-radius: 12px;
    height: 70px;
}

.rightBarBirthdayTop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.birthdayBottomText{
    margin-left: 43px;
    width: fit-content;
}

.rightBarAd{
    border-radius: 18px;
    margin-top: 40px;
}

.hrRightBar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.headerFriends{
    margin-left: 30px;
    margin-bottom: 20px;
}

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    margin-left: 15px;
    width: 50%;
    border-radius: 12px;
}

.rightbarFriend:hover{
    background-color: rgb(250,250,250);
}

.rightbarProfileImageContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: limegreen;
    border: 2px solid white;
    position: absolute;
    top: -2px;
    right: 0px;
}

.rightbarUsername{
    font-weight: 600;
}

.noFriendsOnlineSpan{
    margin-left: 25px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
}
