.userInfo{
    height: fit-content;
    width: fit-content;
    align-items: flex-start;
}

.userInfoWrapper{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
    padding: 20px;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
    border-radius: 12px;
}

.userHeader{
    padding-bottom: 20px;
    font-size: 20px;
}

.userInfoText{
    padding-bottom: 20px;
}

.friendListHeader{
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 20px;
}

.friendList{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 330px;
    width: 400px;
    position: relative;
    right: 20px;
    height: fit-content;
    width: fit-content;
}

.friendPhoto{
    height: 100px;
    width: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.friend{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
    padding: 10px;
}

.friendName{
    margin-top: 5px;
}


.followBtn{
    width: 170px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    background-color: #4267B2;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.followIcon{
    padding-left: 5px;
}

.noFriendsHeader{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 350px;
}
.rightbarFollowing{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
  }

.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.rightbarFollowingName{
    margin-top: 5px;
}
  